<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>19890201</key>
	<array>
		<string>0.1134</string>
		<string>0.1134</string>
		<string>0.1278</string>
		<string>0.1440</string>
		<string>0.1926</string>
	</array>
	<key>19900821</key>
	<array>
		<string>0.0864</string>
		<string>0.0936</string>
		<string>0.1008</string>
		<string>0.1080</string>
		<string>0.1116</string>
	</array>
	<key>19910321</key>
	<array>
		<string>0.0900</string>
		<string>0.1008</string>
		<string>0.1080</string>
		<string>0.1152</string>
		<string>0.1188</string>
	</array>
	<key>19910421</key>
	<array>
		<string>0.0810</string>
		<string>0.0864</string>
		<string>0.0900</string>
		<string>0.0954</string>
		<string>0.0972</string>
	</array>
	<key>19930515</key>
	<array>
		<string>0.0882</string>
		<string>0.0936</string>
		<string>0.1080</string>
		<string>0.1206</string>
		<string>0.1224</string>
	</array>
	<key>19930711</key>
	<array>
		<string>0.0900</string>
		<string>0.1098</string>
		<string>0.1224</string>
		<string>0.1386</string>
		<string>0.1404</string>
	</array>
	<key>19950101</key>
	<array>
		<string>0.0900</string>
		<string>0.1098</string>
		<string>0.1296</string>
		<string>0.1458</string>
		<string>0.1476</string>
	</array>
	<key>19950701</key>
	<array>
		<string>0.1008</string>
		<string>0.1206</string>
		<string>0.1305</string>
		<string>0.1512</string>
		<string>0.1530</string>
	</array>
	<key>19960501</key>
	<array>
		<string>0.0972</string>
		<string>0.1098</string>
		<string>0.1314</string>
		<string>0.1494</string>
		<string>0.1512</string>
	</array>
	<key>19960823</key>
	<array>
		<string>0.0918</string>
		<string>0.1008</string>
		<string>0.1098</string>
		<string>0.1170</string>
		<string>0.1242</string>
	</array>
	<key>19971023</key>
	<array>
		<string>0.0765</string>
		<string>0.0864</string>
		<string>0.0936</string>
		<string>0.0990</string>
		<string>0.1053</string>
	</array>
	<key>19980325</key>
	<array>
		<string>0.0702</string>
		<string>0.0792</string>
		<string>0.0900</string>
		<string>0.0972</string>
		<string>0.1035</string>
	</array>
	<key>19980701</key>
	<array>
		<string>0.0657</string>
		<string>0.0693</string>
		<string>0.0711</string>
		<string>0.0765</string>
		<string>0.0801</string>
	</array>
	<key>19981207</key>
	<array>
		<string>0.0612</string>
		<string>0.0639</string>
		<string>0.0666</string>
		<string>0.0720</string>
		<string>0.0756</string>
	</array>
	<key>19990610</key>
	<array>
		<string>0.0558</string>
		<string>0.0585</string>
		<string>0.0594</string>
		<string>0.0603</string>
		<string>0.0621</string>
	</array>
	<key>20020221</key>
	<array>
		<string>0.0504</string>
		<string>0.0531</string>
		<string>0.0549</string>
		<string>0.0558</string>
		<string>0.0576</string>
	</array>
	<key>20041029</key>
	<array>
		<string>0.0522</string>
		<string>0.0558</string>
		<string>0.0576</string>
		<string>0.0585</string>
		<string>0.0612</string>
	</array>
	<key>20050317</key>
	<array>
		<string>0.0522</string>
		<string>0.0558</string>
		<string>0.0576</string>
		<string>0.0585</string>
		<string>0.0612</string>
	</array>
	<key>20060428</key>
	<array>
		<string>0.0540</string>
		<string>0.0585</string>
		<string>0.0603</string>
		<string>0.0612</string>
		<string>0.0639</string>
	</array>
	<key>20060819</key>
	<array>
		<string>0.0558</string>
		<string>0.0612</string>
		<string>0.0630</string>
		<string>0.0648</string>
		<string>0.0684</string>
	</array>
	<key>20070318</key>
	<array>
		<string>0.0567</string>
		<string>0.0639</string>
		<string>0.0657</string>
		<string>0.0675</string>
		<string>0.0711</string>
	</array>
	<key>20070519</key>
	<array>
		<string>0.0585</string>
		<string>0.0657</string>
		<string>0.0675</string>
		<string>0.0693</string>
		<string>0.0720</string>
	</array>
	<key>20070721</key>
	<array>
		<string>0.0603</string>
		<string>0.0684</string>
		<string>0.0702</string>
		<string>0.0720</string>
		<string>0.0738</string>
	</array>
	<key>20070822</key>
	<array>
		<string>0.0621</string>
		<string>0.0702</string>
		<string>0.0720</string>
		<string>0.0738</string>
		<string>0.0756</string>
	</array>
	<key>20070915</key>
	<array>
		<string>0.0648</string>
		<string>0.0729</string>
		<string>0.0747</string>
		<string>0.0765</string>
		<string>0.0783</string>
	</array>
	<key>20071221</key>
	<array>
		<string>0.0657</string>
		<string>0.0747</string>
		<string>0.0756</string>
		<string>0.0774</string>
		<string>0.0783</string>
	</array>
	<key>20080916</key>
	<array>
		<string>0.0621</string>
		<string>0.0720</string>
		<string>0.0729</string>
		<string>0.0756</string>
		<string>0.0774</string>
	</array>
	<key>20081009</key>
	<array>
		<string>0.0612</string>
		<string>0.0693</string>
		<string>0.0702</string>
		<string>0.0729</string>
		<string>0.0747</string>
	</array>
	<key>20081027</key>
	<array>
		<string>0.0612</string>
		<string>0.0693</string>
		<string>0.0702</string>
		<string>0.0729</string>
		<string>0.0747</string>
	</array>
	<key>20081030</key>
	<array>
		<string>0.0603</string>
		<string>0.0666</string>
		<string>0.0675</string>
		<string>0.0702</string>
		<string>0.0720</string>
	</array>
	<key>20081127</key>
	<array>
		<string>0.0504</string>
		<string>0.0558</string>
		<string>0.0567</string>
		<string>0.0594</string>
		<string>0.0612</string>
	</array>
	<key>20081223</key>
	<array>
		<string>0.0486</string>
		<string>0.0531</string>
		<string>0.0540</string>
		<string>0.0576</string>
		<string>0.0594</string>
	</array>
	<key>20101020</key>
	<array>
		<string>0.0510</string>
		<string>0.0556</string>
		<string>0.0560</string>
		<string>0.0596</string>
		<string>0.0614</string>
	</array>
	<key>20101226</key>
	<array>
		<string>0.0535</string>
		<string>0.0581</string>
		<string>0.0585</string>
		<string>0.0622</string>
		<string>0.0640</string>
	</array>
	<key>20110209</key>
	<array>
		<string>0.0560</string>
		<string>0.0606</string>
		<string>0.0610</string>
		<string>0.0645</string>
		<string>0.0660</string>
	</array>
	<key>20110406</key>
	<array>
		<string>0.0585</string>
		<string>0.0631</string>
		<string>0.0640</string>
		<string>0.0665</string>
		<string>0.0680</string>
	</array>
	<key>20110707</key>
	<array>
		<string>0.0610</string>
		<string>0.0656</string>
		<string>0.0665</string>
		<string>0.0690</string>
		<string>0.0705</string>
	</array>
	<key>20120608</key>
	<array>
		<string>0.0585</string>
		<string>0.0631</string>
		<string>0.0640</string>
		<string>0.0665</string>
		<string>0.0680</string>
	</array>
	<key>20120706</key>
	<array>
		<string>0.0560</string>
		<string>0.0600</string>
		<string>0.0615</string>
		<string>0.0640</string>
		<string>0.0655</string>
	</array>
	<key>20141122</key>
	<array>
		<string>0.0560</string>
		<string>0.0560</string>
		<string>0.0600</string>
		<string>0.0600</string>
		<string>0.0615</string>
	</array>
	<key>20150301</key>
	<array>
		<string>0.0535</string>
		<string>0.0535</string>
		<string>0.0575</string>
		<string>0.0575</string>
		<string>0.0590</string>
	</array>
	<key>20150511</key>
	<array>
		<string>0.0510</string>
		<string>0.0510</string>
		<string>0.0550</string>
		<string>0.0550</string>
		<string>0.0565</string>
	</array>
	<key>20150628</key>
	<array>
		<string>0.0485</string>
		<string>0.0485</string>
		<string>0.0525</string>
		<string>0.0525</string>
		<string>0.0540</string>
	</array>
	<key>20150826</key>
	<array>
		<string>0.0460</string>
		<string>0.0460</string>
		<string>0.0500</string>
		<string>0.0500</string>
		<string>0.0515</string>
	</array>
	<key>20151024</key>
	<array>
		<string>0.0435</string>
		<string>0.0435</string>
		<string>0.0475</string>
		<string>0.0475</string>
		<string>0.0490</string>
	</array>
</dict>
</plist>
