<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
      <key>1262304000</key>
		<integer>2</integer>
		<key>1262390400</key>
		<integer>3</integer>
		<key>1262476800</key>
		<integer>3</integer>
		<key>1266019200</key>
		<integer>3</integer>
		<key>1266105600</key>
		<integer>3</integer>
		<key>1266192000</key>
		<integer>2</integer>
		<key>1266278400</key>
		<integer>2</integer>
		<key>1266364800</key>
		<integer>2</integer>
		<key>1266451200</key>
		<integer>2</integer>
		<key>1266537600</key>
		<integer>2</integer>
		<key>1266624000</key>
		<integer>0</integer>
		<key>1266710400</key>
		<integer>0</integer>
		<key>1270252800</key>
		<integer>3</integer>
		<key>1270339200</key>
		<integer>3</integer>
		<key>1270425600</key>
		<integer>2</integer>
		<key>1272672000</key>
		<integer>3</integer>
		<key>1272758400</key>
		<integer>3</integer>
		<key>1272844800</key>
		<integer>2</integer>
		<key>1276300800</key>
		<integer>0</integer>
		<key>1276387200</key>
		<integer>0</integer>
		<key>1276473600</key>
		<integer>2</integer>
		<key>1276560000</key>
		<integer>2</integer>
		<key>1276646400</key>
		<integer>2</integer>
		<key>1284854400</key>
		<integer>0</integer>
		<key>1285113600</key>
		<integer>2</integer>
		<key>1285200000</key>
		<integer>2</integer>
		<key>1285286400</key>
		<integer>2</integer>
		<key>1285372800</key>
		<integer>0</integer>
		<key>1285459200</key>
		<integer>0</integer>
		<key>1285891200</key>
		<integer>2</integer>
		<key>1285977600</key>
		<integer>3</integer>
		<key>1286064000</key>
		<integer>3</integer>
		<key>1286150400</key>
		<integer>2</integer>
		<key>1286236800</key>
		<integer>2</integer>
		<key>1286323200</key>
		<integer>2</integer>
		<key>1286409600</key>
		<integer>2</integer>
		<key>1286582400</key>
		<integer>0</integer>
		<key>1293840000</key>
		<integer>3</integer>
		<key>1293926400</key>
		<integer>3</integer>
		<key>1294012800</key>
		<integer>2</integer>
		<key>1296345600</key>
		<integer>0</integer>
		<key>1296604800</key>
		<integer>2</integer>
		<key>1296691200</key>
		<integer>2</integer>
		<key>1296777600</key>
		<integer>2</integer>
		<key>1296864000</key>
		<integer>3</integer>
		<key>1296950400</key>
		<integer>3</integer>
		<key>1297036800</key>
		<integer>2</integer>
		<key>1297123200</key>
		<integer>2</integer>
		<key>1297468800</key>
		<integer>0</integer>
		<key>1301702400</key>
		<integer>0</integer>
		<key>1301788800</key>
		<integer>3</integer>
		<key>1301875200</key>
		<integer>2</integer>
		<key>1301961600</key>
		<integer>2</integer>
		<key>1304121600</key>
		<integer>3</integer>
		<key>1304208000</key>
		<integer>3</integer>
		<key>1304294400</key>
		<integer>2</integer>
		<key>1307145600</key>
		<integer>3</integer>
		<key>1307232000</key>
		<integer>3</integer>
		<key>1307318400</key>
		<integer>2</integer>
		<key>1315612800</key>
		<integer>3</integer>
		<key>1315699200</key>
		<integer>3</integer>
		<key>1315785600</key>
		<integer>2</integer>
		<key>1317427200</key>
		<integer>3</integer>
		<key>1317513600</key>
		<integer>3</integer>
		<key>1317600000</key>
		<integer>2</integer>
		<key>1317686400</key>
		<integer>2</integer>
		<key>1317772800</key>
		<integer>2</integer>
		<key>1317859200</key>
		<integer>2</integer>
		<key>1317945600</key>
		<integer>2</integer>
		<key>1318032000</key>
		<integer>0</integer>
		<key>1318118400</key>
		<integer>0</integer>
		<key>1325289600</key>
		<integer>0</integer>
		<key>1325376000</key>
		<integer>3</integer>
		<key>1325462400</key>
		<integer>2</integer>
		<key>1325548800</key>
		<integer>2</integer>
		<key>1327104000</key>
		<integer>0</integer>
		<key>1327190400</key>
		<integer>3</integer>
		<key>1327276800</key>
		<integer>2</integer>
		<key>1327363200</key>
		<integer>2</integer>
		<key>1327449600</key>
		<integer>2</integer>
		<key>1327536000</key>
		<integer>2</integer>
		<key>1327622400</key>
		<integer>2</integer>
		<key>1327708800</key>
		<integer>3</integer>
		<key>1327795200</key>
		<integer>0</integer>
		<key>1333152000</key>
		<integer>0</integer>
		<key>1333238400</key>
		<integer>0</integer>
		<key>1333324800</key>
		<integer>2</integer>
		<key>1333411200</key>
		<integer>2</integer>
		<key>1333497600</key>
		<integer>2</integer>
		<key>1335571200</key>
		<integer>0</integer>
		<key>1335657600</key>
		<integer>3</integer>
		<key>1335744000</key>
		<integer>2</integer>
		<key>1335830400</key>
		<integer>2</integer>
		<key>1340323200</key>
		<integer>2</integer>
		<key>1340409600</key>
		<integer>3</integer>
		<key>1340496000</key>
		<integer>3</integer>
		<key>1348876800</key>
		<integer>0</integer>
		<key>1348963200</key>
		<integer>3</integer>
		<key>1349049600</key>
		<integer>2</integer>
		<key>1349136000</key>
		<integer>2</integer>
		<key>1349222400</key>
		<integer>2</integer>
		<key>1349308800</key>
		<integer>2</integer>
		<key>1349395200</key>
		<integer>2</integer>
		<key>1349481600</key>
		<integer>3</integer>
		<key>1349568000</key>
		<integer>3</integer>
		<key>1356998400</key>
		<integer>2</integer>
		<key>1357084800</key>
		<integer>2</integer>
		<key>1357171200</key>
		<integer>2</integer>
		<key>1357344000</key>
		<integer>0</integer>
		<key>1357430400</key>
		<integer>0</integer>
		<key>1360368000</key>
		<integer>3</integer>
		<key>1360454400</key>
		<integer>3</integer>
		<key>1360540800</key>
		<integer>2</integer>
		<key>1360627200</key>
		<integer>2</integer>
		<key>1360713600</key>
		<integer>2</integer>
		<key>1360800000</key>
		<integer>2</integer>
		<key>1360886400</key>
		<integer>2</integer>
		<key>1360972800</key>
		<integer>0</integer>
		<key>1361059200</key>
		<integer>0</integer>
		<key>1365033600</key>
		<integer>2</integer>
		<key>1365120000</key>
		<integer>2</integer>
		<key>1365206400</key>
		<integer>3</integer>
		<key>1365292800</key>
		<integer>0</integer>
		<key>1367020800</key>
		<integer>0</integer>
		<key>1367107200</key>
		<integer>0</integer>
		<key>1367193600</key>
		<integer>2</integer>
		<key>1367280000</key>
		<integer>2</integer>
		<key>1367366400</key>
		<integer>2</integer>
		<key>1370649600</key>
		<integer>0</integer>
		<key>1370736000</key>
		<integer>0</integer>
		<key>1370822400</key>
		<integer>2</integer>
		<key>1370908800</key>
		<integer>2</integer>
		<key>1370995200</key>
		<integer>2</integer>
		<key>1379548800</key>
		<integer>2</integer>
		<key>1379635200</key>
		<integer>2</integer>
		<key>1379721600</key>
		<integer>3</integer>
		<key>1379808000</key>
		<integer>0</integer>
		<key>1380412800</key>
		<integer>0</integer>
		<key>1380585600</key>
		<integer>2</integer>
		<key>1380672000</key>
		<integer>2</integer>
		<key>1380758400</key>
		<integer>2</integer>
		<key>1380844800</key>
		<integer>2</integer>
		<key>1380931200</key>
		<integer>3</integer>
		<key>1381017600</key>
		<integer>3</integer>
		<key>1381104000</key>
		<integer>2</integer>
		<key>1381536000</key>
		<integer>0</integer>
		<key>1388534400</key>
		<integer>2</integer>
		<key>1390694400</key>
		<integer>0</integer>
		<key>1391126400</key>
		<integer>2</integer>
		<key>1391212800</key>
		<integer>3</integer>
		<key>1391299200</key>
		<integer>3</integer>
		<key>1391385600</key>
		<integer>2</integer>
		<key>1391472000</key>
		<integer>2</integer>
		<key>1391558400</key>
		<integer>2</integer>
		<key>1391644800</key>
		<integer>2</integer>
		<key>1391817600</key>
		<integer>0</integer>
		<key>1396656000</key>
		<integer>3</integer>
		<key>1396742400</key>
		<integer>3</integer>
		<key>1396828800</key>
		<integer>2</integer>
		<key>1398902400</key>
		<integer>2</integer>
		<key>1398988800</key>
		<integer>2</integer>
		<key>1399075200</key>
		<integer>3</integer>
		<key>1399161600</key>
		<integer>0</integer>
		<key>1401667200</key>
		<integer>2</integer>
		<key>1410134400</key>
		<integer>2</integer>
		<key>1411862400</key>
		<integer>0</integer>
		<key>1412121600</key>
		<integer>2</integer>
		<key>1412208000</key>
		<integer>2</integer>
		<key>1412294400</key>
		<integer>2</integer>
		<key>1412380800</key>
		<integer>3</integer>
		<key>1412467200</key>
		<integer>3</integer>
		<key>1412553600</key>
		<integer>2</integer>
		<key>1412640000</key>
		<integer>2</integer>
		<key>1412985600</key>
		<integer>0</integer>
		<key>1420070400</key>
		<integer>2</integer>
		<key>1420156800</key>
		<integer>2</integer>
		<key>1420243200</key>
		<integer>3</integer>
		<key>1420329600</key>
		<integer>0</integer>
		<key>1423958400</key>
		<integer>0</integer>
		<key>1424217600</key>
		<integer>2</integer>
		<key>1424304000</key>
		<integer>2</integer>
		<key>1424390400</key>
		<integer>2</integer>
		<key>1424476800</key>
		<integer>3</integer>
		<key>1424563200</key>
		<integer>3</integer>
		<key>1424649600</key>
		<integer>2</integer>
		<key>1424736000</key>
		<integer>2</integer>
		<key>1425081600</key>
		<integer>0</integer>
		<key>1428105600</key>
		<integer>3</integer>
		<key>1428192000</key>
		<integer>3</integer>
		<key>1428278400</key>
		<integer>2</integer>
		<key>1430438400</key>
		<integer>2</integer>
		<key>1430524800</key>
		<integer>3</integer>
		<key>1430611200</key>
		<integer>3</integer>
		<key>1434758400</key>
		<integer>3</integer>
		<key>1434844800</key>
		<integer>3</integer>
		<key>1434931200</key>
		<integer>2</integer>
		<key>1441238400</key>
		<integer>2</integer>
		<key>1441324800</key>
		<integer>2</integer>
		<key>1441411200</key>
		<integer>3</integer>
		<key>1443312000</key>
		<integer>3</integer>
		<key>1443657600</key>
		<integer>2</integer>
		<key>1443744000</key>
		<integer>2</integer>
		<key>1443830400</key>
		<integer>3</integer>
		<key>1443916800</key>
		<integer>3</integer>
		<key>1444003200</key>
		<integer>2</integer>
		<key>1444089600</key>
		<integer>2</integer>
		<key>1444176000</key>
		<integer>2</integer>
		<key>1444435200</key>
		<integer>0</integer>
		<key>1451606400</key>
		<integer>2</integer>
		<key>1454716800</key>
		<integer>0</integer>
		<key>1454803200</key>
		<integer>3</integer>
		<key>1454889600</key>
		<integer>2</integer>
		<key>1454976000</key>
		<integer>2</integer>
		<key>1455062400</key>
		<integer>2</integer>
		<key>1455148800</key>
		<integer>2</integer>
		<key>1455235200</key>
		<integer>2</integer>
		<key>1455321600</key>
		<integer>3</integer>
		<key>1455408000</key>
		<integer>0</integer>
		<key>1459728000</key>
		<integer>2</integer>
		<key>1462060800</key>
		<integer>3</integer>
		<key>1462147200</key>
		<integer>2</integer>
		<key>1465430400</key>
		<integer>2</integer>
		<key>1465516800</key>
		<integer>2</integer>
		<key>1465603200</key>
		<integer>3</integer>
		<key>1465689600</key>
		<integer>0</integer>
		<key>1473897600</key>
		<integer>2</integer>
		<key>1473984000</key>
		<integer>2</integer>
		<key>1474070400</key>
		<integer>3</integer>
		<key>1474156800</key>
		<integer>0</integer>
		<key>1475280000</key>
		<integer>3</integer>
		<key>1475366400</key>
		<integer>3</integer>
		<key>1475452800</key>
		<integer>2</integer>
		<key>1475539200</key>
		<integer>2</integer>
		<key>1475625600</key>
		<integer>2</integer>
		<key>1475712000</key>
		<integer>2</integer>
		<key>1475798400</key>
		<integer>2</integer>
		<key>1475884800</key>
		<integer>0</integer>
		<key>1475971200</key>
		<integer>0</integer>

</dict>
</plist>
