<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>七台河市</key>
	<string>3920</string>
	<key>三亚市</key>
	<string>6168</string>
	<key>三明市</key>
	<string>4817</string>
	<key>三沙市</key>
	<string>4417</string>
	<key>三门峡市</key>
	<string>3656</string>
	<key>上海市</key>
	<string>5939</string>
	<key>上饶市</key>
	<string>4201.17</string>
	<key>东莞市</key>
	<string>4435</string>
	<key>东营市</key>
	<string>3792</string>
	<key>中卫市</key>
	<string>4470</string>
	<key>中山市</key>
	<string>4887</string>
	<key>临夏回族自治州</key>
	<string>3620</string>
	<key>临汾市</key>
	<string>4413.33</string>
	<key>临沂市</key>
	<string>4693</string>
	<key>临沧市</key>
	<string>3014</string>
	<key>丹东市</key>
	<string>2679.17</string>
	<key>丽水市</key>
	<string>4309.9</string>
	<key>丽江市</key>
	<string>3682</string>
	<key>乌兰察布市</key>
	<string>4712</string>
	<key>乌海市</key>
	<string>4631</string>
	<key>乌鲁木齐市</key>
	<string>4417</string>
	<key>乐山市</key>
	<string>5043</string>
	<key>九江市</key>
	<string>4255.42</string>
	<key>云浮市</key>
	<string>4600</string>
	<key>亳州市</key>
	<string>3783</string>
	<key>伊犁哈萨克自治州</key>
	<string>4417</string>
	<key>佛山市</key>
	<string>5150.83</string>
	<key>佳木斯市</key>
	<string>3920</string>
	<key>保定市</key>
	<string>4035</string>
	<key>保山市</key>
	<string>3941</string>
	<key>信阳市</key>
	<string>3415</string>
	<key>儋州市</key>
	<string>4417</string>
	<key>克孜勒苏柯尔克孜自治州</key>
	<string>4417</string>
	<key>六安市</key>
	<string>4279.5</string>
	<key>六盘水市</key>
	<string>4061.83</string>
	<key>兰州市</key>
	<string>5027.5</string>
	<key>兴安盟</key>
	<string>4573</string>
	<key>内江市</key>
	<string>3457.75</string>
	<key>凉山市</key>
	<string>5043</string>
	<key>包头市</key>
	<string>4964</string>
	<key>北京市</key>
	<string>7086</string>
	<key>北海市</key>
	<string>4130.17</string>
	<key>十堰市</key>
	<string>3556.33</string>
	<key>南京市</key>
	<string>5939</string>
	<key>南充市</key>
	<string>5043</string>
	<key>南宁市</key>
	<string>5318.33</string>
	<key>南平市</key>
	<string>4950</string>
	<key>南昌市</key>
	<string>4959</string>
	<key>南通市</key>
	<string>5496.42</string>
	<key>南阳市</key>
	<string>3542</string>
	<key>博尔塔拉蒙古自治州</key>
	<string>4417</string>
	<key>厦门市</key>
	<string>5359.92</string>
	<key>双鸭山市</key>
	<string>3920</string>
	<key>台州市</key>
	<string>4221</string>
	<key>合肥市</key>
	<string>5302.17</string>
	<key>吉安市</key>
	<string>4016.75</string>
	<key>吉林市</key>
	<string>4045.33</string>
	<key>吐鲁番市</key>
	<string>4417</string>
	<key>吕梁市</key>
	<string>4413.33</string>
	<key>吴忠市</key>
	<string>4528</string>
	<key>周口市</key>
	<string>3547</string>
	<key>呼伦贝尔市</key>
	<string>4563</string>
	<key>呼和浩特市</key>
	<string>4475</string>
	<key>和田市</key>
	<string>4417</string>
	<key>咸宁市</key>
	<string>3070</string>
	<key>咸阳市</key>
	<string>3820.75</string>
	<key>哈密市</key>
	<string>4417</string>
	<key>哈尔滨市</key>
	<string>3920</string>
	<key>唐山市</key>
	<string>4534</string>
	<key>商丘市</key>
	<string>3602</string>
	<key>商洛市</key>
	<string>3155.84</string>
	<key>喀什市</key>
	<string>4417</string>
	<key>嘉兴市</key>
	<string>4309.9</string>
	<key>嘉峪关市</key>
	<string>3620</string>
	<key>四平市</key>
	<string>3725.17</string>
	<key>固原市</key>
	<string>5082</string>
	<key>塔城市</key>
	<string>4417</string>
	<key>大兴安岭市</key>
	<string>3920</string>
	<key>大同市</key>
	<string>4413.33</string>
	<key>大庆市</key>
	<string>3920</string>
	<key>大理白族自治州</key>
	<string>3685</string>
	<key>大连市</key>
	<string>5783</string>
	<key>天水市</key>
	<string>3620</string>
	<key>天津市</key>
	<string>4944</string>
	<key>太原 市</key>
	<string>4413.33</string>
	<key>威海市</key>
	<string>4039</string>
	<key>娄底市</key>
	<string>3665</string>
	<key>孝感市</key>
	<string></string>
	<key>宁德市</key>
	<string>4719</string>
	<key>宁波市</key>
	<string>4796</string>
	<key>安庆市</key>
	<string>3951</string>
	<key>安康市</key>
	<string>4052.33</string>
	<key>安阳市</key>
	<string>3402</string>
	<key>安顺市</key>
	<string>5043</string>
	<key>定西市</key>
	<string>3620</string>
	<key>宜宾市</key>
	<string>5043</string>
	<key>宜昌市</key>
	<string>3606.83</string>
	<key>宜春市</key>
	<string>3777.5</string>
	<key>宝鸡市</key>
	<string>3990.5</string>
	<key>宣城市</key>
	<string>4739</string>
	<key>宿州市</key>
	<string>3693.75</string>
	<key>宿迁市</key>
	<string>4170</string>
	<key>岳阳市</key>
	<string>4525</string>
	<key>崇左市</key>
	<string>3969.17</string>
	<key>巴中市</key>
	<string>3923.67</string>
	<key>巴彦淖尔市</key>
	<string>4264</string>
	<key>巴音郭勒蒙古自治州</key>
	<string>4417</string>
	<key>常州市</key>
	<string>4647</string>
	<key>常德市</key>
	<string>4055</string>
	<key>平凉市</key>
	<string>3620</string>
	<key>平顶山市</key>
	<string>3706</string>
	<key>广元市</key>
	<string>4718</string>
	<key>广安市</key>
	<string>3267.75</string>
	<key>广州市</key>
	<string>6764</string>
	<key>庆阳市</key>
	<string>3620</string>
	<key>廊坊市</key>
	<string>5288</string>
	<key>延安市</key>
	<string>4470.92</string>
	<key>延边朝鲜自治州</key>
	<string>5260</string>
	<key>开封市</key>
	<string>3590</string>
	<key>张家口市</key>
	<string>3916</string>
	<key>张家界市</key>
	<string>3579</string>
	<key>张掖市</key>
	<string>3620</string>
	<key>徐州市</key>
	<string>4500</string>
	<key>德宏傣族自治州</key>
	<string>3522</string>
	<key>德州市</key>
	<string>3943</string>
	<key>德阳市</key>
	<string>4950.92</string>
	<key>忻州市</key>
	<string>4413.33</string>
	<key>怀化市</key>
	<string>4084</string>
	<key>怒江僳僳族自治州</key>
	<string>3682</string>
	<key>恩施市</key>
	<string>3430.58</string>
	<key>惠州市</key>
	<string>4884</string>
	<key>成都市</key>
	<string>4790</string>
	<key>扬州市</key>
	<string>5264</string>
	<key>承德市</key>
	<string>3941</string>
	<key>抚州市</key>
	<string>4126.83</string>
	<key>抚顺市</key>
	<string>3543.92</string>
	<key>揭阳市</key>
	<string>3740</string>
	<key>攀枝花市</key>
	<string>5043</string>
	<key>文山壮族自治州</key>
	<string>3351</string>
	<key>新乡市</key>
	<string>3379</string>
	<key>新余市</key>
	<string>4303.25</string>
	<key>无锡市</key>
	<string>5990.17</string>
	<key>日照市</key>
	<string>4561</string>
	<key>昆明市</key>
	<string>4736</string>
	<key>昌吉市</key>
	<string>4417</string>
	<key>昭通市</key>
	<string>3684</string>
	<key>晋中市</key>
	<string>4413.33</string>
	<key>晋城市</key>
	<string>4413.33</string>
	<key>普洱市</key>
	<string>2612</string>
	<key>景德镇市</key>
	<string>3781</string>
	<key>曲靖市</key>
	<string>3373</string>
	<key>朔州市</key>
	<string>4413.33</string>
	<key>朝阳市</key>
	<string>3023.42</string>
	<key>本溪市</key>
	<string>3451.59</string>
	<key>来宾市</key>
	<string>4638.75</string>
	<key>杭州市</key>
	<string>4659</string>
	<key>松原市</key>
	<string>3974.33</string>
	<key>果洛藏族自治州</key>
	<string>5324.58</string>
	<key>枣庄市</key>
	<string>4139</string>
	<key>柳州市</key>
	<string>4518.58</string>
	<key>株洲市</key>
	<string>4799</string>
	<key>桂林市</key>
	<string>4493.75</string>
	<key>梅州市</key>
	<string>4501.5</string>
	<key>梧州市</key>
	<string>3955.92</string>
	<key>楚雄黎族自治州</key>
	<string>3682</string>
	<key>榆次市</key>
	<string>4693.42</string>
	<key>武威市</key>
	<string>3620</string>
	<key>武汉市</key>
	<string>5476.67</string>
	<key>毕节市</key>
	<string>4172.58</string>
	<key>汉中市</key>
	<string>4284.25</string>
	<key>汕头市</key>
	<string>3250</string>
	<key>汕尾市</key>
	<string>3620</string>
	<key>江门市</key>
	<string>4508.33</string>
	<key>池州市</key>
	<string>4144</string>
	<key>沈阳市</key>
	<string>5152.25</string>
	<key>沧州市</key>
	<string>4388</string>
	<key>河池市</key>
	<string>4469.83</string>
	<key>河源市</key>
	<string>4320</string>
	<key>泉州市</key>
	<string>4503.67</string>
	<key>泰安市</key>
	<string>4687</string>
	<key>泰州市</key>
	<string>4361.75</string>
	<key>泸州市</key>
	<string>5043</string>
	<key>洛阳市</key>
	<string>3818</string>
	<key>济南市</key>
	<string>4882</string>
	<key>济宁市</key>
	<string>4319.08</string>
	<key>海东市</key>
	<string>5089.83</string>
	<key>海北藏族自治州</key>
	<string>5402.75</string>
	<key>海南藏族自治</key>
	<string>4825.25</string>
	<key>海口市</key>
	<string>4788</string>
	<key>海西蒙古自治州</key>
	<string>6136.83</string>
	<key>淄博市</key>
	<string>4495</string>
	<key>淮北市</key>
	<string>4258</string>
	<key>淮南市</key>
	<string>3308.35</string>
	<key>淮安市</key>
	<string>4467.67</string>
	<key>深圳市市</key>
	<string>6752.83</string>
	<key>清远市</key>
	<string>4468</string>
	<key>温州市</key>
	<string>4309.9</string>
	<key>渭南市</key>
	<string>3542.33</string>
	<key>湖州市</key>
	<string>5100</string>
	<key>湘潭市</key>
	<string>4312</string>
	<key>湘西市</key>
	<string>4525</string>
	<key>湛江市</key>
	<string>4125</string>
	<key>滁州市</key>
	<string>4695</string>
	<key>滨州市</key>
	<string>4450</string>
	<key>漯河市</key>
	<string>3434</string>
	<key>漳州市</key>
	<string>4686</string>
	<key>潍坊市</key>
	<string>4850</string>
	<key>潮州市</key>
	<string>3990.5</string>
	<key>濮阳市</key>
	<string>3592</string>
	<key>烟台市</key>
	<string>4849.75</string>
	<key>焦作市</key>
	<string>3481</string>
	<key>牡丹江市</key>
	<string>3920</string>
	<key>玉林市</key>
	<string>3971.5</string>
	<key>玉树藏族自治州</key>
	<string>4948.92</string>
	<key>玉溪市</key>
	<string>3757.33</string>
	<key>珠海市</key>
	<string>6752.83</string>
	<key>甘南藏族自治州</key>
	<string>3620</string>
	<key>甘孜藏族自治州</key>
	<string>5043</string>
	<key>白城市</key>
	<string>3132.17</string>
	<key>白山市</key>
	<string>3466.17</string>
	<key>白银市</key>
	<string>3620</string>
	<key>百色市</key>
	<string>4150.75</string>
	<key>益阳市</key>
	<string>4060</string>
	<key>盐城市</key>
	<string>4365.75</string>
	<key>盘锦市</key>
	<string>3465</string>
	<key>眉山市</key>
	<string>3781</string>
	<key>石嘴山市</key>
	<string>4267</string>
	<key>石家庄市</key>
	<string>4455.5</string>
	<key>福州市</key>
	<string>5260</string>
	<key>秦皇岛市</key>
	<string>4579</string>
	<key>红河哈尼族自治州</key>
	<string>3758</string>
	<key>绍兴市</key>
	<string>4247.25</string>
	<key>绥化市</key>
	<string>3920</string>
	<key>绵阳市</key>
	<string>3720</string>
	<key>聊城市</key>
	<string>3483</string>
	<key>肇庆市</key>
	<string>5673</string>
	<key>自贡市</key>
	<string>4685</string>
	<key>舟山市</key>
	<string>3660</string>
	<key>芜湖市</key>
	<string>4659.75</string>
	<key>苏州市</key>
	<string>6024</string>
	<key>茂名市</key>
	<string>4334</string>
	<key>荆州市</key>
	<string>3304</string>
	<key>荆门市</key>
	<string>3304</string>
	<key>莆田市</key>
	<string>4365</string>
	<key>莱芜市</key>
	<string>4104</string>
	<key>菏泽市</key>
	<string>3720.5</string>
	<key>萍乡市</key>
	<string>4008.33</string>
	<key>营口市</key>
	<string>3516</string>
	<key>葫芦岛市</key>
	<string>3367.6</string>
	<key>蚌埠市</key>
	<string>4096.17</string>
	<key>衡水市</key>
	<string>3862</string>
	<key>衡阳市</key>
	<string>3479</string>
	<key>衢州市</key>
	<string>3654.75</string>
	<key>襄阳市</key>
	<string>3280</string>
	<key>西双版纳傣族自治州</key>
	<string>3682</string>
	<key>西宁市</key>
	<string>4754.5</string>
	<key>西安市</key>
	<string>5266</string>
	<key>许昌市</key>
	<string>3638</string>
	<key>贵港市</key>
	<string>4987.75</string>
	<key>贵阳市</key>
	<string>4878.08</string>
	<key>贺州市</key>
	<string>4617.25</string>
	<key>资阳市</key>
	<string>5043</string>
	<key>赣州市</key>
	<string>4192.75</string>
	<key>赤峰市</key>
	<string>4615</string>
	<key>辽源市</key>
	<string>3582.17</string>
	<key>辽阳市</key>
	<string>3859.17</string>
	<key>达州市</key>
	<string>3968.25</string>
	<key>运城市</key>
	<string>4413.33</string>
	<key>连云港市</key>
	<string>4533.5</string>
	<key>迪庆藏族自治州</key>
	<string>3682</string>
	<key>通化市</key>
	<string>3639.25</string>
	<key>通辽市</key>
	<string>4424</string>
	<key>遂宁市</key>
	<string>5043</string>
	<key>遵义市</key>
	<string>4720.42</string>
	<key>邢台市</key>
	<string>3782.25</string>
	<key>邯郸市</key>
	<string>3744</string>
	<key>邵阳市</key>
	<string>4525</string>
	<key>郑州市</key>
	<string>4365</string>
	<key>郴州市</key>
	<string>4090</string>
	<key>鄂尔多斯市</key>
	<string>5882</string>
	<key>鄂州市</key>
	<string>3100</string>
	<key>酒泉市</key>
	<string>3620</string>
	<key>重庆市</key>
	<string>5174.25</string>
	<key>金华市</key>
	<string>4108.75</string>
	<key>金昌市</key>
	<string>3620</string>
	<key>钦州市</key>
	<string>3875.17</string>
	<key>铁岭市</key>
	<string>3314</string>
	<key>铜仁市</key>
	<string>4713.25</string>
	<key>铜川市</key>
	<string>3155.84</string>
	<key>铜陵市</key>
	<string>4567.25</string>
	<key>银川市</key>
	<string>5359</string>
	<key>锡林郭勒盟</key>
	<string>5183</string>
	<key>锦州市</key>
	<string>3453.67</string>
	<key>镇江市</key>
	<string>5490.5</string>
	<key>长春市</key>
	<string>5087</string>
	<key>长沙市</key>
	<string>5605.5</string>
	<key>长治市</key>
	<string>4413.33</string>
	<key>阜新市</key>
	<string>3213.17</string>
	<key>阜阳市</key>
	<string>4102</string>
	<key>防城港市</key>
	<string>4269.17</string>
	<key>阳江市</key>
	<string>4130</string>
	<key>阳泉市</key>
	<string>4413.33</string>
	<key>阿克苏市</key>
	<string>4417</string>
	<key>阿勒泰市</key>
	<string>4417</string>
	<key>阿坝藏族自治州</key>
	<string>4000.92</string>
	<key>阿拉善盟</key>
	<string>5046</string>
	<key>陇南市</key>
	<string>3620</string>
	<key>随州市</key>
	<string>3254.67</string>
	<key>雅安市</key>
	<string>5043</string>
	<key>青岛市</key>
	<string>4476</string>
	<key>鞍山市</key>
	<string>3355.25</string>
	<key>韶关市</key>
	<string>4577</string>
	<key>马鞍山市</key>
	<string>4869</string>
	<key>驻马店市</key>
	<string>3303</string>
	<key>鸡西市</key>
	<string>3920</string>
	<key>鹤壁市</key>
	<string>3266</string>
	<key>鹤岗市</key>
	<string>3920</string>
	<key>鹰潭市</key>
	<string>4801.92</string>
	<key>黄冈市</key>
	<string>3002</string>
	<key>黄南藏族自治</key>
	<string>5634.75</string>
	<key>黄山市</key>
	<string>2954</string>
	<key>黄石市</key>
	<string>3455</string>
	<key>黑河市</key>
	<string>3920</string>
	<key>黔东南苗族自治州</key>
	<string>4271.17</string>
	<key>黔南依族自治州</key>
	<string>4436.75</string>
	<key>黔西南布依族自治州</key>
	<string>4563.08</string>
	<key>齐齐哈尔市</key>
	<string>3920</string>
	<key>龙岩市</key>
	<string>4620</string>
</dict>
</plist>
